<div class="modal-header"> 
  <h4 class="modal-title">Technical Aspects</h4> 
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>  
</div>
<div class="modal-body container">    
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Angular CLI</li>
      <li class="list-group-item">Ng-bootstrap</li>
      <li class="list-group-item">Bootstrap</li>      
    </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
  